@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}


body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
a{
    color: inherit;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
body {
    background-color: #FFEFD5;
    line-height: 1.5;
}

.guidance dt {
    background-color: #FFC7AF;
}

footer {
    width: 100%;
    background-color: darkgray;
}

header{
    display: flex;
    background-color: lightgray;
    justify-content: space-between;
    height: 5vh;
}

#global_nav ul{
    display: flex;
    text-align: center;
    column-gap:30px ;
    font-size: 1.2rem;
}

.gray{
    color: gray;

}

.burger{
    display: none;
    position: absolute;
    top: 0; 
    right: 20px; 
    z-index: 4; 
    width: 50px; 
    height: 35px; 
    background-image: url(/img/menu.svg);
    background-position: center;
    background-repeat: no-repeat; 
    border-radius: 4px; 
    outline: 1px solid gray; 
    margin: 3px;
}

#global_nav{
    display: flex;
    align-items: end;
}

.swiper {
    width: 100%;
    height: 400px;
}

.swiper-wrapper img{
    width: 100%;
    height: 40vh;
}

.center_container {
    width: 80%;
    text-align: center;
    margin: auto;
}

.guidance dt{
    font-size: 1.17rem;
    padding: 10px;
    margin: 2px;
}

.guidance dd {
    display: none;
    line-height: 2;
}

.fadeIn {
    transition: 1s;
    opacity: 0;
}

.fadeIn.animated {
    opacity: 1;
}

#menu_guidance h2 {
    margin: 40px 0 20px 0;
}

#menu_guidance li {
    display: flex;
    column-gap: 40px;
}

#menu_guidance img,#store_information img {
    width: 50%;
}

#store_information {
    display: flex;
    background-color: black;
    width: 100%;
    color: white;
    margin-top: 30px;
    justify-content: space-around;
    padding: 10px 0px;
    line-height: 3;
    font-size: small;
    margin-bottom: 20px;
}

#store_information h2{
    margin-left: 10px;
}

#store_list ul {
    width: 100%;
    justify-content: center;
    gap: 20px 20px;
    display: flex;
}

#store_list img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#store_list h1 {
    text-align: center;
    margin: 10px;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 20px 0px 50px 0px;
    column-gap: 20px;
}

@media (max-width: 768px) {
    header{
        display: flex;
        transition: height 0.5s ease;
    }
    header.open{
        height: 330px;
        display: block;
        transition: height 0.5s ease;
    }
    .burger{
        display: block;
    }
    #global_nav{
        display: none;
        padding-top: 20px;
    }
    #global_nav.sp_open{
        display: block;
        display: flex;
    }
    #global_nav ul {
        display: block;
        width: 100%;
        line-height:3;
    }
    .swiper{
        width: 90%;
        height: 45vh;
        margin: 10px 20px 10px 20px;
    }
    .swiper-container img{
        width: 50%;
        margin: 20px;
        text-align: center;
    }
    #menu_guidance img ,#store_information img{
        width: 100%;
    }
    #menu_guidance li ,#store_information{
        display: block;
    }
    #store_information p{
        font-size: 0.7rem;
        line-height: 5;

    }
    #store_list{
        display: none;
    }
    footer ul {
        font-size: 0.5rem;
    }
    @media (min-width: 1000px) {
        main {
            width: 1000px;
            margin: 0 auto;
        }

        #gourmet .container {
            padding: 10px 0;
        }

        #gourmet article {
            width: calc(50% - 5px);
        }
    }}